*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    overflow: hidden;
    position: relative;
    background: rgb(225, 255, 143);
    height: 800px;
}

.top__star-2{
    position: absolute;
    left: 63px;
    top: 94px;
}

.top__star-3{
    position: absolute;
    left: 156px;
    top: 69px;
}

.top__star-4{
    position: absolute;
    left: 1013px;
    top: 568px;
}

.top__star-5{
    position: absolute;
    left: 948px;
    top: 538px;
}

.top__BigStar{
    position: absolute;
    left: 1021px;
    top: -260.29px;
}

.top__ray-1{
    position: absolute;
    left: 854px;
    top: -10px;
}

.top__ray-2{
    position: absolute;
    left: 1067px;
    top: 254px;
}

.top__ray-3{
    position: absolute;
    left: 1225px;
    top: 379px;
}

.top__ray-4{
    position: absolute;
    left: 1247px;
    top: 468px;
}

.top__ray-5{
    position: absolute;
    left: 1345px;
    top: 663px;
}

.top-text{
    padding-top: 196px;
    padding-bottom: 246px;
}

.top-text__heading{
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
}

.top-text__text{
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 48px;
}

.top-text__btn{
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    padding: 16px 65px;
}

.top-text__btn_hover:hover{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 60px;
    background: rgb(255, 255, 255);
}

.top-text__text-go{
    font-weight: bold;
}

.top-text__text-started{
    font-weight: bold;
}

.line{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    gap: 51px;
    width: 2988px;
    height: 90px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    position: absolute;
    z-index: 2;
    left: -30px;
    top: 710px;
}

.line__heading{
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
}

.line__heading_indent{
    padding-left: 49px;
}

.Games{
    height: 1470px;
    background: rgb(32, 32, 39);
    padding-top: 94px;
}

.Games__heading{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    padding-bottom: 24px;
}

.Games__description{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
