* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  overflow: hidden;
  position: relative;
  background: rgb(225, 255, 143);
}

.top__star-2 {
  position: absolute;
  left: 63px;
  top: 94px;
}

.top__star-3 {
  position: absolute;
  left: 156px;
  top: 69px;
}

.top__star-4 {
  position: absolute;
  left: 1013px;
  top: 568px;
}

.top__star-5 {
  position: absolute;
  left: 948px;
  top: 538px;
}

.top__BigStar {
  position: absolute;
  left: 1021px;
  top: -260.29px;
}

.top__ray-1 {
  position: absolute;
  left: 854px;
  top: -10px;
}

.top__ray-2 {
  position: absolute;
  left: 1067px;
  top: 254px;
}

.top__ray-3 {
  position: absolute;
  left: 1225px;
  top: 379px;
}

.top__ray-4 {
  position: absolute;
  left: 1247px;
  top: 468px;
}

.top__ray-5 {
  position: absolute;
  left: 1345px;
  top: 663px;
}

.top-text {
  padding-top: 196px;
  padding-bottom: 246px;
}

.top-text__heading {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.top-text__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 68px;
  max-width: 720px;
}

.top-text__btn {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  padding: 16px 65px;
}

.top-text__btn_hover:hover {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: rgb(255, 255, 255);
  transition: 0.3s;
}

.top-text__text-go {
  font-weight: bold;
}

.top-text__text-started {
  font-weight: bold;
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  width: 2988px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  position: absolute;
  z-index: 2;
  left: -30px;
  top: 700px;
  height: 90px;
}
.line__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.line__heading {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  text-align: left;
  text-transform: uppercase;
}

.line__Star {
  padding: 27px 51px;
}

.line__heading_indent {
  padding-left: 49px;
}

.Games {
  position: relative;
  background: rgb(32, 32, 39);
  padding-top: 94px;
  overflow: hidden;
  z-index: 1;
}

.Games__img {
  position: absolute;
  left: 976px;
  top: 114px;
  z-index: -1;
}

.Games__heading {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-bottom: 24px;
}

.Games__decoration1 {
  position: absolute;
  left: 45.18px;
  top: 822px;
  z-index: -1;
}

.Games__decoration2 {
  position: absolute;
  left: 27.97px;
  top: 770px;
  z-index: -1;
}

.Games__description {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.card {
  padding-top: 72px;
  padding-bottom: 50px;
  font-size: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(378px, 1fr));
  gap: 32px;
}

.card__info {
  width: 378px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}

.card__img {
  width: 100%;
}

.card__name {
  padding: 32px 32px 36px 32px;
}

.card__number {
  padding: 8px 16px 10px 16px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  width: 80px;
}

.card__heading {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  padding-top: 16px;
}

.card__link {
  display: inline-block;
  width: auto;
  height: 100%;
  color: inherit;
}

.card__game--hover:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.mini-game {
  position: relative;
  background: rgb(32, 32, 39);
  padding-top: 46px;
  padding-bottom: 144px;
  overflow: hidden;
}
.mini-game__heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  padding-bottom: 48px;
}
.mini-game__star1 {
  position: absolute;
  top: 93px;
  left: 1277px;
  width: 35.15px;
}
.mini-game__star2 {
  position: absolute;
  top: 126px;
  left: 1320px;
  width: 68.86px;
}
.mini-game__star3 {
  position: absolute;
  top: 3366px;
  left: 1319px;
  width: 69px;
}
.mini-game__star4 {
  position: absolute;
  top: 3414px;
  left: 1249px;
  width: 41px;
}

.game-card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.game-card__info {
  border-radius: 57px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  width: 100%;
}
.game-card__name {
  width: 505px;
  padding: 48px;
}
.game-card__heading {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  text-align: left;
  padding-bottom: 24px;
}
.game-card__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-bottom: 52px;
}
.game-card__btn {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  padding: 16px 75.5px;
}
.game-card__btn_hover:hover {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  background: transparent;
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  transition: 0.3s ease;
}
.game-card__img {
  width: auto;
  height: 500px;
}

.footer {
  background: rgb(189, 237, 53);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

@media (max-width: 493px) {
  .top {
    height: 700px;
  }
  .top-text {
    padding-top: 147px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .top-text__heading {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    width: 96%;
  }
  .top-text__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 296px;
    padding-bottom: 36px;
  }
  .top-text__btn {
    font-size: 16px;
    padding: 16px 103.5px;
  }
  .top-text__btn_hover:hover {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
  }
  .top__BigStar {
    width: 223.52px;
    left: 63vw;
    top: -84.43px;
  }
  .top__star-2 {
    width: 35px;
    top: 97px;
    left: 10vw;
  }
  .top__star-3 {
    width: 21px;
    top: 64px;
    left: 25vw;
  }
  .top__star-4 {
    left: 81vw;
    top: 580px;
    width: 39px;
    height: 41px;
  }
  .top__star-5 {
    left: 73vw;
    top: 557px;
    width: 18px;
  }
  .line {
    top: 651px;
    width: 1717.4px;
    height: 51.34px;
    flex-wrap: nowrap;
  }
  .line__heading {
    font-size: 16px;
  }
  .line__Star {
    width: 19.34px;
    height: 19.34px;
    padding: 16px 27px;
  }
  .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .Games {
    display: none;
  }
  .mini-game {
    overflow: hidden;
    padding-bottom: 48.88px;
  }
  .mini-game__heading {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    padding-bottom: 48px;
  }
  .game-card {
    gap: 24px;
  }
  .game-card__name {
    padding: 29px 29px 48px 29px;
    width: auto;
  }
  .game-card__heading {
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 16px;
  }
  .game-card__text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 48px;
  }
  .game-card__btn {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    padding: 16px 38%;
  }
  .game-card__info {
    flex-direction: column-reverse;
    border-radius: 30px;
  }
  .game-card__info_flex {
    flex-direction: column;
  }
  .game-card__img {
    height: 285px;
  }
  .game-card__btn_hover:hover {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    padding: 16px 41%;
    background: rgb(32, 32, 39);
    transition: none;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
}
@media (min-width: 375px) and (max-width: 493px) {
  .center {
    padding-right: calc(50% - 171.5px);
    padding-left: calc(50% - 171.5px);
  }
}
@media (min-width: 493px) and (max-width: 768px) {
  .center {
    padding-right: 32px;
    padding-left: 32px;
  }
  .top {
    height: 700px;
  }
  .top__BigStar {
    width: 223.52px;
    left: 63vw;
    top: -84.43px;
  }
  .top__star-2 {
    width: 35px;
    top: 97px;
    left: 10vw;
  }
  .top__star-3 {
    width: 21px;
    top: 64px;
    left: 25vw;
  }
  .top__star-4 {
    left: 81vw;
    top: 580px;
    width: 39px;
    height: 41px;
  }
  .top__star-5 {
    left: 73vw;
    top: 557px;
    width: 18px;
  }
  .top-text {
    padding-top: 196px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .top-text__heading {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    width: 94%;
  }
  .top-text__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 296px;
    padding-bottom: 36px;
  }
  .top-text__btn {
    font-size: 16px;
    padding: 16px 103.5px;
  }
  .line {
    top: 651px;
    width: 1717.4px;
    height: 51.34px;
    flex-wrap: nowrap;
  }
  .line__heading {
    font-size: 16px;
  }
  .line__Star {
    width: 19.34px;
    height: 19.34px;
    padding: 16px 27px;
  }
  .Games {
    padding-top: 38px;
  }
  .Games__heading {
    font-size: 40px;
    line-height: 49px;
  }
  .Games__decoration1 {
    display: none;
  }
  .Games__description {
    font-size: 16px;
    line-height: 20px;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
    gap: 24px;
    padding-top: 48px;
  }
  .card__heading {
    font-size: 16px;
    line-height: 20px;
  }
  .card__info {
    width: 100%;
    border-radius: 22px;
  }
  .card__number {
    font-size: 10px;
  }
  .card__name {
    padding: 24px 24px 26px 24px;
  }
  .mini-game {
    overflow: hidden;
    padding-top: 36px;
    padding-bottom: 48.88px;
  }
  .mini-game__heading {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: left;
    padding-bottom: 48px;
  }
  .game-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(202px, 1fr));
    gap: 24px;
  }
  .game-card__name {
    padding: 29px 16px 35px 16px;
    width: 171px;
  }
  .game-card__heading {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 16px;
    height: 76px;
  }
  .game-card__text {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 34px;
  }
  .game-card__btn {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    padding: 16px 20%;
  }
  .game-card__info {
    border-radius: 24px;
    flex-direction: column-reverse;
  }
  .game-card__info_justify {
    justify-content: flex-end;
  }
  .game-card__info_flex {
    flex-direction: column;
  }
  .game-card__img {
    height: auto;
  }
  .game-card__btn_hover:hover {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    text-align: center;
    padding: 16px 41%;
    background: rgb(32, 32, 39);
    transition: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .center {
    padding-right: calc(50% - 360.5px);
    padding-left: calc(50% - 360.5px);
  }
  .top {
    height: 700px;
  }
  .top__BigStar {
    width: 223.52px;
    left: 82vw;
    top: -84.43px;
  }
  .top__star-2 {
    width: 35px;
    top: 97px;
    left: 10vw;
  }
  .top__star-3 {
    width: 21px;
    top: 64px;
    left: 25vw;
  }
  .top__star-4 {
    left: 87vw;
    top: 580px;
    width: 39px;
    height: 41px;
  }
  .top__star-5 {
    left: 80vw;
    top: 557px;
    width: 18px;
  }
  .top__ray-1 {
    display: none;
  }
  .top-text {
    padding-top: 196px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .top-text__heading {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    width: 94%;
  }
  .top-text__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 296px;
    padding-bottom: 36px;
  }
  .top-text__btn {
    font-size: 16px;
    padding: 16px 103.5px;
  }
  .top-text__btn_hover:hover {
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: initial;
  }
  .line {
    top: 651px;
    width: 1717.4px;
    height: 51.34px;
    flex-wrap: nowrap;
  }
  .line__heading {
    font-size: 16px;
  }
  .line__Star {
    width: 19.34px;
    height: 19.34px;
    padding: 16px 27px;
  }
  .Games {
    padding-top: 38px;
  }
  .Games__heading {
    font-size: 40px;
    line-height: 49px;
  }
  .Games__img {
    display: none;
  }
  .Games__decoration1 {
    display: none;
  }
  .Games__decoration2 {
    display: none;
  }
  .Games__description {
    font-size: 16px;
    line-height: 20px;
  }
  .card {
    padding-top: 48px;
    grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
    gap: 24px;
  }
  .card__info {
    width: 100%;
  }
  .card__heading {
    font-size: 24px;
    line-height: 30px;
  }
  .card__game--hover:hover {
    transform: none;
  }
  .mini-game__heading {
    font-size: 40px;
    line-height: 49px;
  }
  .game-card {
    gap: 24px;
  }
  .game-card__info {
    border-radius: 32px;
  }
  .game-card__heading {
    font-size: 24px;
    line-height: 30px;
  }
  .game-card__text {
    font-size: 16px;
    line-height: 24px;
  }
  .game-card__btn {
    font-size: 16px;
  }
  .game-card__btn_hover:hover {
    color: rgb(255, 255, 255);
    background: rgb(32, 32, 39);
    font-size: 16px;
  }
  .game-card__img {
    height: auto;
  }
}
body {
  background-color: #f0f0f0;
}

.game-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

.input-group {
  margin: 20px 0;
}

input {
  padding: 10px;
  width: 100px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

button:hover {
  background-color: #45a049;
}

#message {
  margin-top: 20px;
  font-size: 18px;
  min-height: 27px;
}/*# sourceMappingURL=Style.css.map */